body {
  background-color: bisque;
}

div {
  padding: 0px;
}

div.app {
  width: 100%;
}

div.userCityBlock {
  display: inline-block;
  width: 33.3%;
  vertical-align: top;
}

div.requaredCity {
  display: inline-block;
  width: 36%;
  padding-top: 10px;
  vertical-align: top;
}

div.searchHistoryBlock {
  display: inline-block;
  width: 28.3%;
  vertical-align: bottom;
}

img.cityMap {
  position: relative;
  left: 35%;
}
